data
*.pyc
Pemanent_water/*
Reservoirs/*
.ipynb_checkpoints/*
outputs_utest
outputs_delta
logs/
outputs_decision_V0
outputs_decision/outputs/maps_legend_extend
outputs_decision/Permanent_water/permanent_area/basins_level_7_utest.csv
outputs_decision/Permanent_water/permanent_area/basins_level_8_utest.csv
outputs_decision/Permanent_water/seasonal_area/basins_level_7_utest.csv
outputs_decision/Permanent_water/seasonal_area/basins_level_8_utest.csv
outputs_decision/Reservoirs/permanent_area/basins_level_7_utest.csv
outputs_decision/Reservoirs/permanent_area/basins_level_8_utest.csv
outputs_decision/Reservoirs/seasonal_area/basins_level_7_utest.csv
outputs_decision/Reservoirs/seasonal_area/basins_level_8_utest.csv